@model  LibrarySystemMVC.Models.BookModel

<h2> Create Book</h2>


<div class="form-group" style="margin-top:30px;">


    <b>Book Name:</b> <input type="text" id="bookName" name="bookName"><br><br>

    <b>Borrow Date:</b><input type="text" id="barrowDate" name="barrowDate"><br><br>

    <b>Return Date:</b><input type="text" id="returnDate" name="returnDate"><br><br>

    <button onclick="location.href='@Url.Action("Create", "Borrowing")';">Save</button>


</div>


