@model LibrarySystemMVC.Models.LoginModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginUsername)
        </dd>

        <dt>
            Password :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginPassword)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
