@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <style>
        .jumbotron {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:30px;
            background-color: darkgray;
            border-color: blueviolet;
            border: 45px;

        }
    </style>
    <h1>Welcome the Library!</h1>
    <style>
        h1{
            color:linen;
        }
    </style>
    <p class="lead">Click if you want to browse the list of books without being a member.<img src="~/img/flyingbooks.jpg" style="padding-left:25px" width="30%"/> </p>
    <style>
        .lead{

        }
    </style>
    <p><a href="/Book/Index" class="btn btn-primary btn-lg" style="background-color:darkcyan">View &raquo;</a></p>

</div>



<div class="row">
    <div class="col-md-4">
        <h2>New Arrivals</h2>
        <style>
            h2 {
                padding-bottom:20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color:mediumpurple;
                border-block-color:black;
            }
        </style>
        <p>
            <img src="~/img/book.jpg" />
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
   
    
</div>